body {
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    width: 1005px;
}

section#banner, header {
    grid-row: span 1;
    grid-column: span 4;    
}

#window {
    border: 1px solid gray;
    display: flex;
    overflow: hidden;
}

#imageSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    height: 200px;
}

#imageSlider img {
    /* width: 200px; */
    height: 200px;
    margin-right: 1px;
}

#button-div {
    background-color: #AD8B7E;
    display: flex;
    justify-content: space-between;
    height: 29px;
}

header > div {
    height: 100%;
}

#profilePic {
    border-radius: 150px;
    height: 200px;
    width: 200px;
}

#logoPic {
    height: 200px;
    width: 200px;
}

#sign-in-button {
  border-radius: 30px; 
  font-size: 22px; 
  font-weight: 500; 
  padding: 15px 50px;
}

.bannerWithLogo {
  background-color: tan; 
  display: flex; 
  justify-content:space-around; 
  align-items: center;
}

nav {
    background-color: tan;
    font-family:sans-serif;
    font-weight: bold;
    grid-row: span 3;
    grid-column: span 1;
    padding: 50px 0 0 25px; 

}

#menu-items {
    font-size: 35px;
    border-top: 5px double white;
    border-bottom: 5px double white;
    padding-left: 5px;
    width: 200px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

a:hover {
    color: rgb(96, 64, 23);
    font-size: 30px;
}

main {
    background-color: #AD8B7E;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: black;
    grid-row: span 3;
    grid-column: span 3;
}

#top-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    background-color: rgb(240, 239, 233);
    border: 7px double rgb(104, 32, 32);
    width: 95%;
    height: 60px;
    margin: 5px auto;
    padding: 10px;
}

#user-name, #msg-input {
    height: 20px;
    border:1px solid black;
}

label {
    font-size: 14px;
}

div input {
    margin: 0;
    padding: 0;
}

#user-name:hover, #msg-input:hover {
    background-color: lightgray;
}

#post-button {
    background-color: #efefef;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 5px 5px;   

}

#post-button:hover {
    background-color: A88062;
    color: #A88062;
    box-shadow: 5px 5px rgb(159, 159, 159);
    
}

#feed {
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    border: 7px double rgb(104, 32, 32);
    height: 450px;
    overflow: scroll;
}

.msg {
    border-left: 9px solid black;
    width: 174px;
    max-height: 150px;
    padding: 15px;
    margin: 10px 10px;
    background-color: rgb(240, 239, 233);
    overflow: scroll;
}

.msg:hover {
    background-color: #e7d9c6;
}

li > img {
    width: 175px;

}

footer {
    background-color: rgb(240, 239, 233);
    display: flex;
    justify-content: space-between;
    font-family: Helvetica;
    grid-column: span 4;
    grid-row: span 1;
    padding: 30px;
    
}

.social {
    height: 50px;
}

div#social-media {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: end;
}

#contact {
    text-align: end;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: end;    
}

#copy {
    margin: 0;
}


