body {
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 3fr;
    width: 1005px;
}

section#banner, header {
    grid-row: span 1;
    grid-column: span 4;    
}

#window {
    border: 1px solid gray;
    display: flex;
    overflow: hidden;
}

#imageSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    height: 200px;
}

#imageSlider img {
    /* width: 200px; */
    height: 200px;
    margin-right: 1px;
}

#button-div {
    background-color: #AD8B7E;
    display: flex;
    justify-content: space-between;
    height: 29px;
}

header > div {
    height: 100%;
}

#profilePic {
    border-radius: 150px;
    height: 200px;
    width: 200px;
}

#logoPic {
    height: 200px;
    width: 200px;
}


nav {
    background-color: aqua;
    font-family:sans-serif;
    font-weight: bold;
    grid-row: span 3;
    grid-column: span 1;
}

main {
    background-color: #AD8B7E;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    color: black;
    grid-row: span 3;
    grid-column: span 3;
}

#top-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
    font-size: larger;
    background-color: whitesmoke;
    border: 7px inset lightgray;
    width: 95%;
    height: 60px;
    margin: 5px auto;
    padding: 10px;
}

#user-name, #msg-input {
    height: 20px;
    border:1px solid black;
}

label {
    font-size: 14px;
}

div input {
    margin: 0;
    padding: 0;
}

#user-name:hover, #msg-input:hover {
    background-color: lightgray;
}

#post-button {
    background-color: #efefef;
    color: black;
    border-radius: 10px;
    width: 100px;
    height: 35px;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 5px 5px;   

}

#post-button:hover {
    background-color: A88062;
    color: #A88062;
    box-shadow: 5px 5px rgb(159, 159, 159);
    
}

#feed {
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    border: 6px outset lightgray;
    height: 450px;
    overflow: scroll;
}

.msg {
    border-left: 9px solid black;
    width: 175px;
    max-height: 150px;
    padding: 15px;
    margin: 10px 10px;
    background-color: aliceblue;
    overflow: scroll;
}

.msg:hover {
    background-color: #e7d9c6;
}

li > img {
    width: 175px;

}



